<div class="container my-5">
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"><span class="animate__animated animate__bounceInLeft">Welcome to</span> <img src="https://cdn3d.iconscout.com/3d/premium/thumb/code-4059153-3364039@0.png" class="code_icon animate__animated animate__bounce"><strong class="animate__animated animate__bounce">Code With Tegh</strong></h1>
          <p class="lead text-muted">This website consists of blogs about Technology such as Machine Learning, Quantum Computing , Data Analytics, Data Science,etc</p>
          <p>
            <a href="/blog" class="btn btn-primary my-2">Blogs</a>
            <a href="#" class="btn btn-secondary my-2">Other Projects</a>
          </p>
        </div>
    </section>
</div>